parameters:
    level: 8
    paths:
        - src
        - tests
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/wp-cli/wp-cli/php/utils.php
    excludePaths:
        analyse:
            - src/*/vendor/*
            - tests/CodeceptionSupport/*
